img.logo {
    width: 30vw;
    display: block;
    margin: 0 auto 20px auto;
}

.install-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: $dark;
    width: 100%;
    color: $white;
}

.card {
    border-radius: 5px;
    border: none;

    &.semi {
        background: rgba($color: $white, $alpha: 0.3);
    }

    &.slim {
        .card-body {
            padding: 0.2rem 0.8rem;
        }
    }

    &.has-btn-group {
        .card-body {
            padding: 0 0 0 0.8rem;

            .btn:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .card-body {
        padding: 1rem;
    }
}