@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

.display {
    font-family: 'Pacifico', cursive;
}