$primary:       #F5A949 !default;
$secondary:     #E8DCBF !default;
$success:       #67DB74 !default;
$info:          #6F9DFD !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$dark:          #383838 !default;

